html,body{
    margin :0;
    width : 100%;
    height : 100%;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-size: 12vh;
    background-position: 50% 90%;
    background-repeat: no-repeat;
    background-image: url('../assets/bgMain.png');
}

.header {
    
    height: 8vh;
    text-align: center;
    font-size: 6vmin;
    font-family: 'Khand',monospace;
    width: 100vw;
    color: #ffffff;
    /* background-image: url('../assets/srivatsa.png'),radial-gradient(circle,transparent 1px,#ffffff6b 2px,transparent 3px),radial-gradient(circle,transparent 1px,#ffffff6b 2px,transparent 3px),linear-gradient(45deg,transparent 30%,white 30.1%,white 70%,transparent 70.1%),linear-gradient(135deg,#3a3a3a 30%,white 30.1%,white 70%,#3a3a3a 70.1%);
    background-position: 50% 98%,center;
    background-size: 80px 80px,4px 4px,8px 8px,100% 100%,100% 100%;
    background-repeat: no-repeat,repeat;*/
    line-height: 8vh; 

    background-image: url('../assets/srivatsa.png'),linear-gradient(45deg,transparent 45%,white 45.1%,white 55%,transparent 55.1%),linear-gradient(135deg,#3a3a3a 45%,white 45.1%,white 55%,#3a3a3a 55.1%);
    background-position: 50%,center;
    background-size: 6vh,100% 100%,100% 100%;
    background-repeat: no-repeat;
    display : flex;
}

.header>div{
    width : 50vw;
    text-align : center;
    color : white;
}

/* .lefthead{
    color : #3a3a3a;
}
.righthead{
    color : white;
} */

.area{
    margin-top : 2vh;
    width : 80vw;
    height : 30vh;
    border : 2px dashed black;
    padding : 1vh 1vw;
    margin-left : 10vw;
    margin-right : 10vw;
    outline : none;
}
.area:focus{
    border-width : 4px;
}

.chooser{
    margin-right: 30vw;
    outline: none;
    height: 6vh;
    margin-top: 2vh;
    text-align: center;
    font-size: 4vmin;
    text-align: center;
    font-family: 'Khand',monospace;
    width: 40vw;
    background: none;
    margin-left: 30vw;
    background-size: 5px 5px;
    font-family: 'Rajdhani',monospace;
    line-height: 7vh;
    border: 2px solid black;
    box-shadow: 4px 5px 0 black;
    padding-left : 3vw;
}

.options{
    color : black;
    font-family : 'Khand',monospace;
}

.reflection {
    margin-top: 2vh;
    width: 80vw;
    height: 19vh;
    /* box-shadow: 7px 8px black; */
    border: 2px dotted black;
    padding: 1vh 1vw;
    margin-left: 10vw;
    margin-right: 10vw;
    outline: none;
}

.footer{
    display :flex;
    width : 80vw;
    margin : 3vh 10vw 0 10vw;
    justify-content: space-around;
}

.footer>div{
    width: 32vw;
    font-family: 'Rajdhani',monospace;
    line-height: 5vh;
    border: 2px solid black;
    box-shadow: 4px 5px 0 black;
    padding-left: 3vw;
    height: 5vh;
    font-size: 3.5vmin;
    text-align: center;
}
